
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
 

 --color-very-dark-blue: hsl(220, 13%, 13%);
 --color-grayish-blue: hsl(220, 14%, 75%);
 --color-dark-grayish-blue: hsl(219, 9%, 45%);
 --color-light-grayish-blue: hsl(223, 64%, 98%);
 --color-white: hsl(0, 0%, 100%);
 --color-dark-blue: hsl(228, 45%, 44%);
 --color-pale-orange: hsl(25, 100%, 94%);
 --color-orange: hsl(26, 100%, 55%);
 --font-kumbh: "Kumbh Sans", sans-serif; 
 --font-roboto: "Roboto", sans-serif; 
 --shadow-light: 0px 12px 30px hsl(26, 100%, 80%);
 
 --breakpoint-*: initial;
 --breakpoint-min-mobile: 501px;
 --breakpoint-minitablet: 830px;
 --breakpoint-tablet: 1100px;
 --breakpoint-laptop: 1400px;

}
@layer components{
 *{
  box-sizing: border-box;
 }
 body{
  width: 100vw;
  height: 100vh;
 }
 .links{
  /* @variant hover{
   color: var(--color-orange);
   cursor: pointer;
   font-weight: bold;
  } */
  @variant active{
   color: var(--color-orange);
  }
 }
 .icon-invert{
   @variant active{
    filter: brightness(105%) invert(100%) saturate(1200%) saturate(1200%) sepia(100%) hue-rotate(5deg);
   }
   @media (min:1100px) {
     &:hover{
      @media(hover:hover){
       filter: brightness(105%) invert(100%) saturate(1200%) saturate(1200%) sepia(100%) hue-rotate(5deg);
      }
    }
   }
   
 }
 .avatar-ring{
  @variant active{
   inset: 0;
   background-color: transparent;
   width: 12px;
   height: 12px;
  }
 }
}
