@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

@import "tailwindcss";


@theme {
  --color-orange: hsl(26, 100%, 55%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-pale-orange: hsl(25, 100%, 94%);
}

@layer  {
  * {
    box-sizing: border-box;
  }
/* 
  body {
    @apply w-full h-screen relative font-kumbh ;
  } */
}
